.site-header {
  background-color: #292929;
}

.site-header a {
  color: white;
}

.logo-image {
  height: 26px;
}

a.btn-outline-secondary {
  background-color: #3CC3B2;
  border-color: #3CC3B2;
  color: white;
}

h1, h2, h3 {
  font-family: "Roboto" !important;
}

h2.section-title {
  color: #0da1a9;
  font-weight: bold;
  font-size: 20px;
}

p.lead {
  font-size: 14px;
}

p.item-lead {
  height: 80px;
  margin: 0px 3px;
}

p { 
  font-family: "Lato" !important;
}

.contrastron {
  padding: 0px !important;
  margin: 0px !important;
  background-color: #3ABFAE !important;
  background: url('../img/dna-pattern.png') repeat;
  background-size: 300px;
}

h2.contrastron-headline {
  font-size: 54px !important;
  line-height: 54px !important;
  text-transform: uppercase !important;
  text-align: center !important;
  font-weight: bold !important;
  color: #fff;
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif !important;
}

p.contrastron-lead {
  font-size: 26px !important;
  line-height: 36px !important;
  color: #000 !important;
  font-weight: normal !important;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif !important;
}

.contrastron-sub {
  padding: 0px !important;
}

.ide-icon {
  height: 50px;
  width: 50px;
}

.ide-icon-med {
  height: 70px;
  width: 70px;
}

.ide-icon-wide {
  height: 100px;
  width: 160px;
}

.ide-icon-tall {
  height: 170px;
  width: 100px;
}

.ide-icon-big {
  height: 100px;
  width: 100px;
}

.ide-icon-wow {
  height: 100px;
  width: 100px;
}

.ide-icon-huge {
  height: 155px;
  width: 155px;
}

.ide-icon-cli {
  height: 123px;
  width: 123px;
}

div.section-header {
  margin-top: 20px;
  margin-botton: 10px;
  padding-left: 15px;
}

div.contrast-box {
  padding: 0px !important;
  border: solid 1px #dadada;
  border-radius: 5px;
  box-shadow: 0px 0px 2px #e7e7e7;
}

h2.contrast-item-heading {
  font-family: 'Roboto Condensed';
  color: #292929;
  font-size: 24px;
  font-weight: 700;
  margin-top: 10px;
}
